<!DOCTYPE HTML
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

  <head>

    <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->

    <!-- Your title goes here -->
    <title>You're Invited</title>
    <!-- End title -->

    <!-- Start stylesheet -->
    <style type="text/css">
      a,
      a[href],
      a:hover,
      a:link,
      a:visited {
        /* This is the link colour */
        text-decoration: none !important;
        color: #0000EE;
      }

      .link {
        text-decoration: underline !important;
      }

      p,
      p:visited {
        /* Fallback paragraph style */
        font-size: 15px;
        line-height: 24px;
        font-family: 'Helvetica', Arial, sans-serif;
        font-weight: 300;
        text-decoration: none;
        color: #000000;
      }

      h1 {
        /* Fallback heading style */
        font-size: 22px;
        line-height: 24px;
        font-family: 'Helvetica', Arial, sans-serif;
        font-weight: normal;
        text-decoration: none;
        color: #000000;
      }

      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td {
        line-height: 100%;
      }

      .ExternalClass {
        width: 100%;
      }
    </style>
    <!-- End stylesheet -->

  </head>

  <!-- You can change background colour here -->

  <body
    style="font-family: Inter, sans-serif !important; margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000">

    <!-- Fallback force center content -->
    <div>


      <table align="center"
        style="position: relative; padding-left: 32px; padding-right: 32px; padding-bottom: 32px; vertical-align: top; width: 100%; max-width: 600px;" width="600">
        <tbody>
          <tr
            style="position: absolute; border-radius: 12px; opacity: 0.2; background-color: #FFFFFF !important;  background: url(https://bit.ly/3nP7fzY); height: 100%; width: 600px;   z-index: -1; left:0">
          </tr>
          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0; padding-top: 32px;" 
              width="596">
              <img alt="logo" src="https://bit.ly/3M0NwoM" />
            </td>
          </tr>

          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0; padding-top: 24px;" width="596">
              <h1 style="color:white; color: #213642; font-size: 20px; font-weight:500;">Login
                Invitation</h1>
            </td>
          </tr>

          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0px;" width="596">
              <p style="color:white; margin: 0px;  color: #5A6B74; font-size: 16px;">
                Congratulations! You've been invited to join here.news. A decentralized news platform committed to
                unbiased reporting and freedom of expression.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0; padding-top: 16px;" width="596">
              <p style="color:white; margin: 0px;  color: #5A6B74; font-size: 16px;">
                As a token of our appreciation, we are pleased to offer you a special welcome bonus of {{balance}}μ upon
                joining
                here.news. This virtual currency can be used within the community to unlock exclusive features,
                participate in events, and explore various opportunities to connect with like-minded individuals.
              </p>
            </td>
          </tr>
          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0; padding-top: 16px;" width="596">
              <p style="color:white; margin: 0px; color: #5A6B74; font-size: 16px;">
                Thank you for considering this invitation to be part of our growing community. We look forward to
                welcoming you to here.news!
              </p>
            </td>
          </tr>
          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0; padding-top: 16px" width="596">
              <a style="border-radius: 8px; padding:10px 25px; background-color: #213642; font-size: 16px; color: #FFFFFF; height: 48px; width: 101px; text-decoration: none;"
                href="{{baseUrl}}/registration?token={{token}}&&email={{email}}&&balance={{balance}}&&userId={{userId}}&&userIdHash={{userIdHash}}"
                target="_blank">Accept Invitation</a>
            </td>
          </tr>
          <tr>
            <td style="width: 596px; vertical-align: top; padding:0; padding-top: 16px;" width="596">
              <p style="color:white; margin: 0px;  color: #98A2B3; font-size: 16px;">If button doesn't work click
                on this link.</p>
            </td>
          </tr>
          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0; padding-bottom: 20px;" width="596">
              <a href="{{baseUrl}}/registration?token={{token}}&&email={{email}}&&balance={{balance}}&&userId={{userId}}&&userIdHash={{userIdHash}}"
                style="color: #213642;">{{baseUrl}}/registration?token={{token}}</a>
            </td>
          </tr>

          <tr>
            <td style="width: 596px; vertical-align: top; padding: 0; padding-top: 16px;" width="596">
              <div>
                <a target="_blank" href="https://www.facebook.com/people/Herenews/100088965438867/">
                  <img style="margin-right: 32px; height: 24px; width: 24px;" src="https://bit.ly/3LWdUjS" />
                </a>
                <a target="_blank" href="https://www.instagram.com/heresnews/">
                  <img style="margin-right: 32px; height: 24px; width: 24px;" src="https://bit.ly/3nUbhqK" />
                </a>
                <a target="_blank" href="https://twitter.com/heresnews">
                  <img style="margin-right: 32px; height: 24px; width: 24px;" src="https://bit.ly/3nXyY1a" />
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/here-news">
                  <img style="margin-right: 32px; height: 24px; width: 24px;" src="https://bit.ly/41uaY3p" />
                </a>
              </div>
            </td>
          </tr>

        <tr>
          <td style="width: 596px; vertical-align: top; padding: 0; padding-top: 24px;" width="596">
            <p style="font-size: 16px; color:#98A2B3; margin:0px">
              ©2023 Here.news. All rights reserved.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>